.App {
  text-align: center;
  background: linear-gradient(yellow, orange, red, purple 85%, blue 95%,white 96%, grey 96%, black 98%);
}
.background-Image {
 background-image: url("./Binary-Film1.gif");
 height: 100%;
 width: 0;
 position: fixed;
 z-index: 1;
 top: 0;
 left: 0;
 background-repeat: no-repeat;
background-size: cover;

}

.home-card {
    padding-top: 30px;
    background-color: rgba(2255, 255, 255, 0.80);
    margin-top: 100px;
}

.Enter {
  background-color: rgba(2255, 255, 255, 0.80);
  padding: 40px; 
}